.dicas-cabecalho {
	font-size: 15px;
}

#cancel {
	height:50px;
	background-color:#FF4500;
	padding: 15px;
}

#stay {
	height:50px;
	background-color:#2E8B57;
	padding: 15px;
}

.output {
	text-align:center;
}