#context {
	height: 50px;
	background-color: #FAEBD7;
	position: relative;
}

#content {
	height: 100px;
	background-color: #5F9EA0;
	position: relative;
}

#result {
	height: 100px;
	background-color: #7FFF00;
	position: relative;
}

#robson {
	height: 40px;
	background-color: #FAEBD7;
	align-content: center;
}

h1 {
	text-align: center;
}

form {
	text-align: center;
}

table {
	text-align: center;
}